In [2]:
# set up environment by importing all necessary libraries.

# Matplotlib forms basis for visualization in Python
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import pandas as pd

import numpy as np

from sklearn.model_selection import train_test_split

sns.set()

In [3]:
# load dataset and drop N/A
df = pd.read_csv('./data/vgsales.csv').dropna()

In [4]:
# see what's in the dataset
df.sample(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
12858,12860,Mister Slime,DS,2008.0,Action,SouthPeak Games,0.05,0.00,0.00,0.00,0.05
14744,14747,Bleach: Soul Carnival 2,PSP,2009.0,Fighting,Sony Computer Entertainment,0.00,0.00,0.03,0.00,0.03
15723,15726,Digimon Rumble Arena,PS,2001.0,Fighting,Namco Bandai Games,0.01,0.01,0.00,0.00,0.02
12663,12665,Cid to Chocobo no Fushigi na Dungeon: Toki Was...,DS,2008.0,Role-Playing,Square Enix,0.00,0.00,0.06,0.00,0.06
7529,7531,Just Dance 2: Extra Songs,Wii,2011.0,Misc,Ubisoft,0.00,0.17,0.00,0.03,0.20
13115,13117,Fighter Destiny 2,N64,1999.0,Fighting,Imagineer,0.04,0.01,0.00,0.00,0.05
5165,5167,GoldenEye: Rogue Agent,GC,2004.0,Shooter,Electronic Arts,0.28,0.07,0.00,0.01,0.36
10552,10554,Water Sports,Wii,2009.0,Action,Avanquest,0.05,0.04,0.00,0.01,0.10
14383,14386,Hearts of Iron IV,PC,2016.0,Strategy,Paradox Interactive,0.00,0.03,0.00,0.00,0.03
918,920,High School Musical: Sing It!,PS2,2007.0,Misc,Disney Interactive Studios,0.47,0.08,0.00,1.33,1.87

In [5]:
X = df.drop(columns=['Rank','Name','Year','Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales'])
X.sample(10)

      Platform         Genre
13082       DS        Action
13484      PSV  Role-Playing
5681      SNES          Misc
5993      X360        Sports
2125      X360        Action
1566       PS2        Action
7696       PS2    Simulation
8104      WiiU          Misc
6241       PS2        Action
6305        GC  Role-Playing

In [6]:
X['Platform'].value_counts()

DS      2131
PS2     2127
PS3     1304
Wii     1290
X360    1234
PSP     1197
PS      1189
PC       938
XB       803
GBA      786
GC       542
3DS      499
PSV      410
PS4      336
N64      316
SNES     239
XOne     213
SAT      173
WiiU     143
2600     116
NES       98
GB        97
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64

In [7]:
X['Genre'].value_counts()

Action          3251
Sports          2304
Misc            1686
Role-Playing    1470
Shooter         1282
Adventure       1274
Racing          1225
Platform         875
Simulation       848
Fighting         836
Strategy         670
Puzzle           570
Name: Genre, dtype: int64

In [8]:
y = df['Global_Sales']
y.sample(10)

9974     0.12
9728     0.12
4194     0.47
10529    0.10
7896     0.19
6149     0.28
7316     0.21
12258    0.06
2813     0.73
15813    0.02
Name: Global_Sales, dtype: float64

In [9]:
# now we got our independent variables in "X"
# we got our target variables in "y"
# before we do any modeling, we need to process "X" first

In [10]:
# turn to one hot encoding
platform_one_hot = pd.get_dummies(X['Platform'])
genre_one_hot = pd.get_dummies(X['Genre'])

In [11]:
platform_one_hot.head(10)

,2600,3DO,3DS,DC,DS,GB,GBA,GC,GEN,GG,...,SAT,SCD,SNES,TG16,WS,Wii,WiiU,X360,XB,XOne
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
genre_one_hot.head(10)

,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0
6,0,0,0,0,1,0,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,0,0,0

In [13]:
# now we merge those one hot variables
X = pd.concat([platform_one_hot, genre_one_hot], axis=1, join_axes=[platform_one_hot.index])
X.head(10)

,2600,3DO,3DS,DC,DS,GB,GBA,GC,GEN,GG,...,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [14]:
# train_test_split?

In [15]:
# now we need to split into 7:3 training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=21)

In [16]:
X_train.head(5)

,2600,3DO,3DS,DC,DS,GB,GBA,GC,GEN,GG,...,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
3510,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13189,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4602,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1029,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8773,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
y_train.head(5)

3510     0.57
13189    0.05
4602     0.42
1029     1.73
8773     0.15
Name: Global_Sales, dtype: float64

In [18]:
X_test.head(5)

,2600,3DO,3DS,DC,DS,GB,GBA,GC,GEN,GG,...,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
7482,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
719,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
y_test.head(5)

7482     0.21
719      2.25
5218     0.36
10121    0.11
14904    0.03
Name: Global_Sales, dtype: float64

In [20]:
# first let use the KNN
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors=15)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

knn.score(X_test, y_test)

-0.416641505678911

In [21]:
# the R^2 score is VERY VERY LOW (facepalm)
# one thing that I'm curious is how can we even get negative value??

In [22]:
# let see the prediction
print(y_pred[:10])
print(y_test[:10])

[0.71666667 0.29466667 0.44466667 0.16466667 0.23533333 0.92533333
 0.37266667 0.29533333 0.45733333 0.42      ]
7482     0.21
719      2.25
5218     0.36
10121    0.11
14904    0.03
6924     0.24
5295     0.35
13875    0.04
2011     1.04
9879     0.12
Name: Global_Sales, dtype: float64

In [23]:
# let see what we can do to improve
# KNeighborsRegressor?
for i in range(10, 200, 10):
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_train, y_train)
    print("Score of knn regression at "+ str(i) + " is: {}".format(knn.score(X_test, y_test)))

Score of knn regression at 10 is: -0.9768367852521755
Score of knn regression at 20 is: -0.23488106140405304
Score of knn regression at 30 is: -0.09034620278876337
Score of knn regression at 40 is: -0.06527234001744198
Score of knn regression at 50 is: -0.027537548119076494
Score of knn regression at 60 is: 0.005922347997617816
Score of knn regression at 70 is: -0.001030053736475578
Score of knn regression at 80 is: 0.007246137772097039
Score of knn regression at 90 is: 0.0101438114704272
Score of knn regression at 100 is: 0.015233119457709552
Score of knn regression at 110 is: 0.018642148637798006
Score of knn regression at 120 is: 0.02250405531522559
Score of knn regression at 130 is: 0.0005823130794057052
Score of knn regression at 140 is: -0.0029797919597844835
Score of knn regression at 150 is: 0.00039550109744224127
Score of knn regression at 160 is: 0.001041696006370385
Score of knn regression at 170 is: 0.0061300878300499795
Score of knn regression at 180 is: 0.007136745500278319
Score of knn regression at 190 is: 0.008516420050183271

In [24]:
# The best result for using the KNN regressor is when
# the n_neighbors set to 120. The result become worse
# after 120 is due to overfitting.

In [26]:
# try to use different kind of encoding for categorical data instead of one hot
# first get the value for x and y
X = df.drop(columns=['Rank','Name','Year','Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales'])
y = df['Global_Sales']

In [30]:
# get unique genre and platform
unique_platform = X['Platform'].unique()
unique_genre = X['Genre'].unique()

In [38]:
X['Platform'] = X['Platform'].astype('category')
X['Platform'] = X['Platform'].cat.codes
X['Platform'] = X['Platform'] + 1 # to avoid 0 mapping
X['Genre'] = X['Genre'].astype('category')
X['Genre'] = X['Genre'].cat.codes
X['Genre'] = X['Genre'] + 1
X.describe()

           Platform         Genre
count  16291.000000  16291.000000
mean      16.812841      5.928611
std        8.369998      3.762844
min        1.000000      1.000000
25%        8.000000      2.000000
50%       17.000000      6.000000
75%       22.000000      9.000000
max       31.000000     12.000000

In [39]:
# split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=21)

In [40]:
X_train.head(5)

       Platform  Genre
3510         17      6
13189        14      1
4602          7      4
1029         27      1
8773         16      7

In [41]:
y_train.head(5)

3510     0.57
13189    0.05
4602     0.42
1029     1.73
8773     0.15
Name: Global_Sales, dtype: float64

In [42]:
for i in range(10, 200, 10):
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_train, y_train)
    print("Score of knn regression at "+ str(i) + " is: {}".format(knn.score(X_test, y_test)))

Score of knn regression at 10 is: -0.057523695784102324
Score of knn regression at 20 is: 0.0415612301450774
Score of knn regression at 30 is: 0.04506284603113486
Score of knn regression at 40 is: 0.0325489360606207
Score of knn regression at 50 is: 0.032035034310105015
Score of knn regression at 60 is: 0.036639507322938525
Score of knn regression at 70 is: 0.036862359593643035
Score of knn regression at 80 is: 0.0385725361213034
Score of knn regression at 90 is: 0.034895039851696175
Score of knn regression at 100 is: 0.03651840587507371
Score of knn regression at 110 is: 0.035425023506861386
Score of knn regression at 120 is: 0.03849262636684858
Score of knn regression at 130 is: 0.03631760487107593
Score of knn regression at 140 is: 0.03374953493765975
Score of knn regression at 150 is: 0.030073583141058124
Score of knn regression at 160 is: 0.030919373769158542
Score of knn regression at 170 is: 0.029539325174868125
Score of knn regression at 180 is: 0.029453045003150602
Score of knn regression at 190 is: 0.028510551537675122

In [44]:
# we see a better result when n_neighbors is set to 30
# next we can compare the prediction and the actual value
knn = KNeighborsRegressor(n_neighbors=30)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [71]:
data = {'Actual Sales': y_test, 
        'Predicted Sales': y_pred,
        'difference': y_test - y_pred}
result = pd.DataFrame(data)
result.head(10)

       Actual Sales  Predicted Sales  difference
7482           0.21         0.335333   -0.125333
719            2.25         0.243667    2.006333
5218           0.36         0.988000   -0.628000
10121          0.11         0.205333   -0.095333
14904          0.03         0.318333   -0.288333
6924           0.24         0.878667   -0.638667
5295           0.35         0.431000   -0.081000
13875          0.04         0.490000   -0.450000
2011           1.04         0.532333    0.507667
9879           0.12         0.310333   -0.190333

In [67]:
temp = df.drop(columns=['Rank', 'Year', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'])
temp.head(10)

                        Name Platform         Genre
0                 Wii Sports      Wii        Sports
1          Super Mario Bros.      NES      Platform
2             Mario Kart Wii      Wii        Racing
3          Wii Sports Resort      Wii        Sports
4   Pokemon Red/Pokemon Blue       GB  Role-Playing
5                     Tetris       GB        Puzzle
6      New Super Mario Bros.       DS      Platform
7                   Wii Play      Wii          Misc
8  New Super Mario Bros. Wii      Wii      Platform
9                  Duck Hunt      NES       Shooter

In [72]:
result = pd.merge(temp, result, left_index=True, right_index=True, how='outer').dropna()

In [74]:
result.sample(10)

,Name,Platform,Genre,Actual Sales,Predicted Sales,difference
13390,Mike Tyson Heavyweight Boxing,XB,Sports,0.05,0.275667,-0.225667
15994,S.Y.K: Shinsetsu Saiyuuki,PS2,Adventure,0.01,0.129333,-0.119333
4512,Bionicle,PS2,Action,0.43,0.504000,-0.074000
8211,Petz: Horseshoe Ranch,DS,Adventure,0.17,0.143667,0.026333
16234,Broken Sword 5: The Serpent's Curse,XOne,Adventure,0.01,0.225000,-0.215000
1265,Pac-Man World,PS,Action,1.50,0.684667,0.815333
5833,Spyro: Attack of the Rhynocs,GBA,Platform,0.30,0.476000,-0.176000
1292,Chrono Trigger,DS,Role-Playing,1.47,0.479333,0.990667
6244,NCAA Basketball 09,PS2,Sports,0.28,0.421667,-0.141667
13714,OutRun 2006: Coast 2 Coast,PSP,Racing,0.04,0.532333,-0.492333

In [81]:
# one conclusion that we can draw is that this model has very low accuracy.
# The overall predicted value is much lower than the actual value